/* Universal styles for webpage */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Syles for h1, h2, h3, p, navbar and ul */

h1 {
  font-size: 100px;
}

h2 {
  font-size: 70px;
}

h3 {
  font-size: 50px;
}

p {
  font-size: 45px;
  line-height: 1.5;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  margin-bottom: 15px;
  font-size: 50px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  color: blue;
}

/* Styles for header, footer and  "About Us" and "Our Services" Sections */

section,
header,
footer {
  background-image: linear-gradient(lightgreen, pink, orange);
  margin-right: 15px;
  margin-left: 15px;
  border: 3px solid #0a50dc;
  border-radius: 50px;
  text-align: center;
  min-height: 100vh;
}

#header {
  background-image: url("../images/glassessbg1.jpg");
  background-size: cover;
}

#services {
  background-image: url("../images/glassessbg2.jpg");
  background-size: cover;
  background-position: center;
}

#services p {
  font-size: 30px;
}

footer p {
  line-height: 0.5;
}

img {
  height: 100px;
  width: 100px;
}

/* Media Querie to make website responsive */

@media screen and (min-width: 280px) and (max-width: 820px) {
  section,
  header,
  footer {
    width: 90%;
    min-height: 50%;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  ul {
    margin-bottom: 20rem;
  }

  li {
    font-size: 20px;
  }

  p {
    font-size: 20px;
    line-height: 1.5;
  }
  img {
    height: 50px;
    width: 50px;
  }

  #header {
    background-position: right;
    background-size: cover;
  }

  #services {
    background-size: cover;
    background-position: center;
  }

  #services p {
    font-size: 20px;
  }
}
